.hero-gradient-container {
    background: linear-gradient(to bottom right, lightblue, beige);
    height: 100vh;
    width: 100vw;
}

.header-container {
    min-height: 5rem;
    width: 100vw;
}

.header-logo {
    max-height: 5rem;
    margin-left: 2rem;
}

.header-top {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    width: 100vw;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: white;
    color: #242424;
    margin-bottom: 1rem;
    height: 2.4rem;
}

.home-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-box {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 7.4rem);
    padding-bottom: 7.4rem;
    color: black;
    margin: 0;
}

.hero-box-text.h2 {
    margin: 0;
    padding: 0;
    width: 95vw;
    text-align: center;
    font-size: 3.5rem;
}

.hero-box-text.h3 {
    margin: 0.5rem 0;
    padding: 0;
    width: 90vw;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
}

.hero-box > a > button {
    margin-top: 2rem;
    width: 15rem;
    font-size: 1.3rem;
    background-color: white;
    color: #242424;
    font-weight: bold;
}

.probsta-box {
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    margin: auto;
    background: white;
}

.probsta-h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
    margin: 1rem 3rem;
    color: black;
}

.probsta-p {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 4rem;
    color: black;
}

.reasons-box {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.reason {
    text-align: center;
    background: white;
    border-radius: 1rem;
    width: 31vw;
    padding: 1rem;
    height: 100%;
    background: linear-gradient(to bottom left, rgb(220, 245, 255), rgb(255, 255, 240))
}

.reason-percent {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin: 1rem 0;
    color: #242424;
}

.reason-fact {
    font-size: 1.5rem;
    color: #242424;
}

.why-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
    margin: 15rem 0 15rem 0;
}

.why-h2 {
    font-size: 3.5rem;
    margin-bottom: 4rem;
}

.benefit-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.3rem;
}

.benefit {
    background: white;
    padding: 1rem 2rem 2rem 2rem;
}

.benefit-icon {
    max-height: 1rem;
}

.benefit-h3 {
    margin-top: 1rem;
    color: #242424;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.benefit-p {
    color: #242424;
    font-size: 1.6rem;
}

.how-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 15rem;
}

.how-h2 {
    font-size: 3rem;
}

.how-p {
    font-size: 2rem;
    margin-bottom: 4rem;
}

.step-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.step {
    background: white;
    color: #242424;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.step-text {
    display: flex;
    flex-direction: column;
}

.step-h3 {
    font-size: 2rem;
}

.step-h2 {
    font-size: 1.8rem;
}

.step-p {
    font-size: 1.5rem;
}

.arrow {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto 1rem auto;
}

.arrow::before {
    content: '';
    width: 25px;
    height: 25px;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(45deg); /* Creates the downward corner arrow */
}

.arrow-container {
    display: flex;
    align-items: center;
}

.success-box {
    margin-bottom: 15rem;
}

.success-title {
    font-size: 3rem;
}

.calendar-box {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar-h2 {
    font-size: 3rem;
    text-align: center;
}

.calendar-p {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.calendar-holder {
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    width: 100vw;
}

.info-box {
    margin: 0 0 10rem 0;
}

.info-box > h2 {
    font-size: 3rem;
    text-align: center;
    margin: 0 2rem;
}
