:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #D1CDC2;

  --creme-white: #D1CDC2;
  --boreal-sea: #859cB6;
  --dark-graphite: #434C54;
  --green-mirage: #016E4E;
  --charcoal: #333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
}

html {
  max-width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  max-width: 100vw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.inview-container-4 {
  width: 100%;
  transition: opacity 0.4s ease-out, transform 0.4s ease-out, min-height 0.4s ease-out, max-height 0.4s ease-out 0.4s, max-width 0.4s ease-out;
}

.inview-container- {
  width: 100%;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out, min-height 0.5s ease-out, max-height 0.5s ease-out 0.5s, max-width 0.5s ease-out;
}

.inview-container-6 {
  width: 100%;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out, min-height 0.6s ease-out, max-height 0.6s ease-out 0.6s, max-width 0.6s ease-out;
}

.inview-container-7 {
  width: 100%;
  transition: opacity 0.7s ease-out, transform 0.7s ease-out, min-height 0.7s ease-out, max-height 0.7s ease-out 0.7s, max-width 0.7s ease-out;
}

.inview-container-8 {
  width: 100%;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out, min-height 0.8s ease-out, max-height 0.8s ease-out 0.8s, max-width 0.8s ease-out;
}

.inview-container-9 {
  width: 100%;
  transition: opacity 0.9s ease-out, transform 0.9s ease-out, min-height 0.9s ease-out, max-height 0.9s ease-out 0.9s, max-width 0.9s ease-out;
}

.inview-container-10 {
  width: 100%;
  transition: opacity 1s ease-out, transform 1s ease-out, min-height 1s ease-out, max-height 1s ease-out 1s, max-width 1s ease-out;
}

.inview-container-50 {
  width: 100%;
  transition: opacity 5s ease-out, transform 5s ease-out, min-height 5s ease-out, max-height 5s ease-out 5s, max-width 5s ease-out;
}

.inview-container-appear.hidden {
  opacity: 0;
}

.inview-container-appear.visible {
  opacity: 1;
}

.inview-container-up.hidden {
  transform: translateY(10rem);
}

.inview-container-up.visible {
  transform: translateY(0);
}

.inview-container-right.hidden {
  transform: translateX(max(-50vw, -60rem));
}

.inview-container-left.visible {
  transform: translateX(0)
}

.inview-container-left.hidden {
  transform: translateX(min(50vw, 60rem))
}

.inview-container-left-short.visible {
  transform: translateX(0)
}

.inview-container-left-short.hidden {
  transform: translateX(max(10rem, min(30vw, 25rem)))
}

.inview-container-right.visible {
  transform: translateX(0)
}

.inview-container-grow.hidden {
  transform: scale(0.8);
}

.inview-container-grow.visible {
  transform: scale(1);
}
.inview-container-shrink.hidden {
  transform: scale(1.2);
}

.inview-container-shrink.visible {
  transform: scale(1);
}

.inview-container-line.hidden {
  min-height: 0% !important;
}

.inview-container-line.visible {
  min-height: 100% !important;
}

.inview-container-dot.hidden {
  transition-delay: 0.7s;
  opacity: 0;
}

.inview-container-dot.visible {
  transition-delay: 0.7s;
  opacity: 1;
}

.inview-container-width-one.hidden {
  max-width: 0;
}

.inview-container-width-one.visible {
  max-width: 80%;
}

.inview-container-width-two.hidden {
  max-width: 0;
}

.inview-container-width-two.visible {
  max-width: 90%;
}

.inview-container-width-three.hidden {
  max-width: 0;
}

.inview-container-width-three.visible {
  max-width: 100%;
}

.inview-container-height-one.hidden {
  overflow: hidden;
  max-height: 1rem;
  margin-bottom: 10rem;
}

.inview-container-height-one.visible {
  overflow: hidden;
  max-height: 20rem;
  margin-bottom: 0;
}

.inview-container-height-two.hidden {
  overflow: hidden;
  max-height: 1rem;
  margin-bottom: 10rem;
}

.inview-container-height-two.visible {
  overflow: hidden;
  max-height: 20rem;
  margin-bottom: 0;
}

.inview-container-height-three.hidden {
  overflow: hidden;
  max-height: 1rem;
  margin-bottom: 10rem;
}

.inview-container-height-three.visible {
  overflow: hidden;
  max-height: 20rem;
  margin-bottom: 0;
}